pipeline/pipeline_router_data.json
{
	"name": "pipeline_router_data",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata_source_csv_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach items",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata files').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "router files",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'.')[0]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "customers",
										"activities": [
											{
												"name": "Copy customers data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "dataset_customer_csv",
														"type": "DatasetReference"
													}
												]
											}
										]
									},
									{
										"value": "drivers"
									},
									{
										"value": "trips"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}